<div class="container" ng-controller="ActivateController">
    <div class="row">
        <div class="col-md-12">
            <div class="spinner" ng-show="loading">
                <img src="/assets/modules/core/img/loaderRed.gif" class="loaderBuild"/>
            </div>
            <div class="error-template" ng-if="!isValid" style="text-align: center;">
                <h1>
                    Oops!</h1>
                <h2>
                    Link is Not Valid</h2>
                <div class="error-details">
                    Sorry, an error has occured !
                </div>
                <div class="error-actions">
                    <a href="/#!/find"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                </div>
            </div>
            <div class="error-template" ng-if="isValid" style="text-align: center;">

                <h2>
                    Thanks For Verifying Email</h2>
                <div class="error-details">
                    Please proceed and check your location in Map !
                </div>
                <div class="error-actions">
                    <a href="/#!/find"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>