
<div ng-controller="MapsController as vm">

    <esri-map-view map="vm.map" on-create="vm.onViewCreated"
                   view-options="{
        zoom: 15
    }">
        <div id="search">
            <ui-select ng-model="addressComponent"
                       theme="bootstrap"
                       reset-search-input="false"
            >
                <ui-select-match placeholder="Enter an address...">
                    {{$select.selected.formatted_address}}</ui-select-match>
                <ui-select-choices repeat="address in addresses | filter: $select.search track by $index"
                                   refresh="refreshAddresses($select.search)"
                                   refresh-delay="0">
                    <div ng-bind-html="address.formatted_address"></div>
                </ui-select-choices>
            </ui-select>
            </div>
        <div id="results">
            <button type="button" class="btn btn-danger" ng-click="open()">Donate</button>
        </div>
    </esri-map-view>
</div>
